<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="FailingPackage" Language="1033" Version="1.1.0.0" Manufacturer="HP Inc." UpgradeCode="1da74316-fed6-468f-be68-2c5e8ca7a625">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="FailingPackage" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
    
    <Property Secure="yes" Id="WIXFAILWHENDEFERRED" Value="1"/>
    <CustomActionRef Id="WixFailWhenDeferred" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="FailingPackage" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="ProductComponent">
				<File Source="README.txt"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
